/* MAIN ELEMENTS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Gilmer-Sans", sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

header{
    background-color: #1f2937;
    color: #fff;
    padding: 24px 64px 0px ;
}

.hero-section{
    background-color: #1f2937;
    color: #fff;
}

/*-----------------------------*/

/* HEADER */

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 64px;
    gap: 100px;
}

.header-title{
    font-weight: 24px;
}

.img-logo{
    width: 48px;
    height: auto;
}

/* (NAV BAR) */

.nav-ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.nav-li{
    text-decoration: none;
    color: #fff;
}

.nav-li:hover{
    color: #dddee1;
}

/*-----------------------------*/

/* HERO SECTION */

.hero-container{
    padding: 48px; 64px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 48px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2 1 0;
    gap: 24px;
    flex-wrap: wrap;
}


.img-hero-container{
    display: flex;
    flex: 3 1 0;
    justify-content: center;
    max-width; 100%;
    height: auto;
}

.img-hero{
    max-width: 100%;
    height: auto;
    min-width: 400px;
}

.hero-header{
    font-size: 48px;
    font-weight: 900;
}

.hero-text{
    font-size: 18px;
}

.hero-button{
border:none;
border-radius: 8px;
width: 128px;
background-color: #3883F6;
color: #fff;
padding: 6px 24px;
font-size: 16px;
flex: 0 1 0;
}

.hero-button:hover{
cursor: pointer;
background-color: #609cf8;
}

/*-----------------------------*/

/* ABOUT SECTION */ 

.about-section{
    background-color: #fff;
}

.about-header{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 48px;
    font-size: 36px;
    color: #1f2937;
}

.about-box-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 48px 82px;
    gap: 24px;
}

.about-box{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    color: #1f2937;
}

.about-img{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 200px;
    border: #275cac solid 4px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.about-img:hover{
    transform: scale(105%);
    cursor: pointer;
}